.hero-unit{style: "width:650px; float:left"}
  :each article in articles.slice(0,15)
    .article.page-header{style: "padding-bottom:15px"}
      %h3{style: "margin-right: 150px"}
        %a{style: "color: #404040", href: "/" + article.name}&= article.title
      .date{title: article.date}&= formatDate(article.date, "%A, %B %d, %Y")
      %p
        = intro(article.markdown)
      %a{href: "/" + article.name} Read more...
	
.hero-unit{style: "width:230px; float: right"}
  = markdownEncode(description)
.hero-unit{style: "width:230px; float: right; margin-top:0px"}
  %h4
    Articles
  %ul
    :each article in articles.slice(0,20)
      %li
        %a{href: "/" + article.name}&=article.title
        &=" on " + formatDate(article.date, "%A, %B %d, %Y")