!!! Strict
%html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    %title #{(title ? title + " - " : "")} Matt Apperson's Blog
    %meta(name="description" content="Tales of mobile and server side JS development")
    %link(href="/bootstrap.css" rel="stylesheet")
    %link(href="/bootstrap_edits.css" rel="stylesheet" media="print")
    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml")
    %link(href="/favicon.ico" rel="icon" type="image/x-icon")
  %body
    .topbar
      .fill
        .container
          %a{href: "http://mattapperson.com"}
            %img{src: "/logo.png" } 
          %ul.nav.secondary-nav
            %li
      	      %a{href: "/"} Blog
            %li
        	  %a{href: "http://twitter.com/#!/mattapperson", style:"padding-top:5px; padding-bottom:0px; padding-right:0px; padding-left:0px; margin:0px;"}
        		
      = content
      
      #footer.clearfix
        %p This blog is running on node.js version v0.6.6    